p{
  color:white;
  background-color:grey;
  }
#first{
  color:yellow;
  background-color:pink;
  }
.second{
  color:white;
  background-color:green;
  }
h3,h4{
  color:yellow;
  background-color:black;
  }
